body {
    margin: 0px;
    background: #d1d1d1;
}

header {
    background: #29487d;
    padding: 40px 0px;
}

header h2 {
    color: #ffffff;
    text-align: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-shadow: 0px 2px 2px rgb(0, 0, 0, .4);
    /*Sombra con transparencia*/
}

header ul {
    padding: 0px;
    text-align: center;
    list-style: none;
}

header ul li {
    display: inline-block;
}

header ul li a {
    color: #ffffff;
    text-decoration: none;
}

header figure figcaption {
    font-family: Arial, Helvetica, sans-serif;
}

header figure img {
    width: 64px;
    transition: .4s all;
}

header figure img:hover {
    transform: rotate(360deg);
}