html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

body{
    color:rgb(34, 34, 34);
    font-family: inherit;
    font-size: 62%;
    background: rgb(106, 134, 228) url(imagenes/fondo_div.png) repeat-x;
}

#principal{
    width: 740px;
    margin: auto;
    border: 4px solid white;
    padding: 0 10px;
    background: url(imagenes/fondo.jpg) no-repeat;
}

#principal h1{
    color: lawngreen;
    font-family: serif;
    font-size: 4em;
}

#principal h1 strong{
    color: rgb(244, 247, 241);
    margin-right:-0.75em;
    font-size: 150px;
}

#principal h2{
    font:bold 3.5em "Hoefler Text", Garamond, Times, serif;
    border-bottom: 1px solid #000;
    margin-top: 25px;
}

#principal h3{
    color: lawngreen;
    font-size: 1.9em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;    
}

#principal p{
    font-size: 1.5em;
    line-height: 150%;
    margin-left: 150px;
    margin-right: 50px;
    margin-bottom: 10px;
}

#principal p::first-line{
    font-weight: bold;
    color: rgb(117, 104, 99);
}

#principal ul{
        margin:50px 0 25px 50px;
        width: 160px;
        float: right;
}

#principal li{
    color: lime;
    font-size: 1.5em;
    margin-bottom: 7px;
}

#principal .autor{
    font-size: 1.6em;
    margin-bottom: 5px 0 25px 50px; 
}

#principal autor strong{
    color: blueviolet;
    text-transform: uppercase;
    margin-left: 5px;
}