body {
    background: grey;
    color: blue;
    font-family: Roboto;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 10px auto;
    display: Grid;
    grid-gap: 5px;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (4, auto);
    grid-template-areas: "header     header      header" "contenido  contenido   sidebar" "widget-1   widget-2    sidebar" "footer     footer      footer";
}

.contenedor>div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}

.contenedor .header {
    background: #12203E;
    color: #fff;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    /*grid-column-start: 1;
    grid-column-end: 4;*/
}

header img {
    width: 10%;
    border: 3px solid black;
    margin: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
}

.contenedor .contenido {
    grid-area: contenido;
    /*grid-column: span 2;*/
}

.contenedor .sidebar {
    /* grid-column: 3 / 4;*/
    background: #FAA43D;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2 {
    background: #55a8fd;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1 {
    grid-area: widget-1;
}

.contenedor .widget-2 {
    grid-area: widget-2;
}

.contenedor .footer {
    background: #12203E;
    color: white;
    grid-area: footer;
    /*grid-column: span 3;*/
}

@media screen and (max-width: 768px) {
    body {
        background: black;
    }
    .contenedor {
        grid-template-areas: "header     header      header" "contenido  contenido   contenido" "sidebar    sidebar     sidebar" "widget-1   widget-1    widget-2" "footer     footer      footer";
    }
}